<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Page</title>
</head>
<center>
<h3>Registration Form</h3>
    <form method="POST" enctype="multipart/form-data" action="/pages/register"> 
        <input type = "text"     placeholder="Name"             value = "" name="name"><br/>
        <input type = "password" placeholder="Password"         value = "" name="password"><br/>
        <input type = "password" placeholder="Confirm Password" value = "" name="confirm_password"><br/>
        <input type = "text"     placeholder="email"            value = "" name="email"><br/><br/>
        <input type = "submit"                                  value = "submit">
    </form>
<br>
<% if(errors){errors.forEach(function(error){%>
    <p style="color:red"> <%=  error.msg %></p>
    <% })}%>
<h4>Examples</h4>
<% persons.forEach(function(person){%>
<li> <%=  person.name %></li>
<% })%>
</center>    
</body>
</html>